body {
  margin: 0;
  font-family: Consolas, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  text-align: center;
}

.formWrapper{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;

}
.formItem {
    flex:1 1 auto;
    padding-top: 10px;
}
ul{
  list-style-type: none;
}